<a href="https://colab.research.google.com/github/amaansait/pythonbasics/blob/main/pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

500000
you are taxable frfr 25000.0

In [2]:
salary=int(input())
if salary>250000:
  print("tax")
if 250000<salary<500000:
  print((salary-250000)*10/100)
if 500000< salary <750000:
  print((salary-500000)*20/100)
if salary<750000:
 print((salary-750000)*30/100)

400000
tax
15000.0
-105000.0

In [3]:
s=int(input("enter the salary "))
if s<250000:
    print("not taxable")
if s>=250000 and s<500000:
    p=s-250000
    y=10/100*p
    print("taxable amt is",p)
    print("tax amt",y)
if s>=500000 and s<750000:
    p=s-500000
    y=20/100*p
    c=y+25000
    print("taxable amt is",p)
    print("tax amt is",c)
if s>=750000 and s<1000000:
    p=s-7500000
    y=30/100*p
    c=y+125000
    print("taxable amt is",p)
    print("TAX AMT IS",c)
if s>1000000:
    p=s-1000000
    y=32/100*p
    c=y+275000
    print("taxable amt is",p)
    print("tax amt is ",c)

enter the salary 400000
taxable amt is 150000
tax amt 15000.0