<a href="https://colab.research.google.com/github/amaansait/pythonbasics/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input("enter the passenger source")
y=input("enter the passenger destination")
z=input("enter the totalpassenger")
print(x)
print(y)
print(z)
print("passenger souce",x,"passenger destination",y,"total passenger",z)

enter the passenger sourceern
enter the passenger destinationkollam
enter the totalpassenger100
ern
kollam
100
passenger souce ern passenger destination kollam total passenger 100

In [ ]:
x=input("enter the passenger name")
y=input("enter the passenger ticket fare")
print("passenger name",x,"passenger fare",y)

enter the passenger nameamaan
enter the passenger ticket fare1500
passenger name amaan passenger fare 1500

In [ ]:
x=int(input("enter total fare"))
if x>10000:
  print ("eligible for discount")
else:
  print("not eligible")

enter total fare7000
not eligible

In [ ]:
x=int(input("enter total fare"))
if x>15000:
  print ("eligible for 20% discount")
else:
  print("eligible 10% discount")

enter total fare25000
eligible for 20% discount

In [ ]:
x=int(input("enter the total fare"))
y=(x*20)/100
if x>15000:
  print("the discount fare",y)
  print(x-y)
y=(x*10)/100
if x>10000:
  print("the discount fare",y)
  print(x-y)
y=(x*5)/100
if x<10000:
  print("the discount fare",y)
  print(x-y)

enter the total fare1000
the discount fare 50.0
950.0

In [ ]:
x=int(input("enter a number"))
if x>0:
  print("positive")
elif x<0:
  print("negative")
else:
  print("zero")

enter a number-1
negative

In [ ]:
x=int(input("enter the age"))
if x>=18:
  print("adult")
elif x>=13 and x<18:
  print("teenager")
elif x>=6 and x<=12:
  print("kid")
elif x>=2 and x<6:
  print("toddler")
else:
  print("infant")

enter the age85
adult

In [ ]:
x=input("Passengers Initial ")
if x=="A":
  print("Vowel")
elif x=="E":
  print("Vowel")
elif x=="I":
  print("Vowel")
elif x=="O":
  print("Vowel")
elif x=="U":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial A
Vowel

In [ ]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2!=0 :
    print(a)

Enter Starting Value 4
Enter Ending Value 8
5
7

In [ ]:
x=input("enter your name")
for a in x:
  print(a)

enter your nameamaan
a
m
a
a
n