<a href="https://colab.research.google.com/github/amaansait/pythonbasics/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input('Enter a number '))
for i in range(1,11):
  print(i,'x',n,'=',i*n)

Enter a number 80
1 x 80 = 80
2 x 80 = 160
3 x 80 = 240
4 x 80 = 320
5 x 80 = 400
6 x 80 = 480
7 x 80 = 560
8 x 80 = 640
9 x 80 = 720
10 x 80 = 800

In [ ]:
n=int(input('Enter a number '))
a=1
while a<=10:
  print(a,'x',n,'=',a*n)
  a=a+1

Enter a number 90
1 x 90 = 90
2 x 90 = 180
3 x 90 = 270
4 x 90 = 360
5 x 90 = 450
6 x 90 = 540
7 x 90 = 630
8 x 90 = 720
9 x 90 = 810
10 x 90 = 900

In [ ]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

12
12
24
36
48
60
72
84
96
108
120

In [ ]:
num=input("enter the number")
d=0
for i in num:
  #print(i)
  d=d+1
print(d)

enter the number2004
4

In [8]:
x=input("enter a name")
x=x.replace('a','k')
print(x)

enter a nameamaan
kmkkn

In [17]:
m1=['bangladesh','india','nepal','pakistan','usa']
print (m1)
m1.append('france')
print(m1)
m1.remove("pakistan")
print(m1)
m1.reverse()
print(m1)
m1.append('canada')
print(m1)
len(m1)

['bangladesh', 'india', 'nepal', 'pakistan', 'usa']
['bangladesh', 'india', 'nepal', 'pakistan', 'usa', 'france']
['bangladesh', 'india', 'nepal', 'usa', 'france']
['france', 'usa', 'nepal', 'india', 'bangladesh']
['france', 'usa', 'nepal', 'india', 'bangladesh', 'canada']

6